* {
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family: 'Gills', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;
}

.wrapper {
    position: relative;
    height:500px;
    width: 450px;

}

 .wrapper img {
    position: absolute;
    height: 450px;
    width:100%;
    margin-top: -50px;
}

.wrapper label {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);

}

.wrapper label span {
    color: teal;
    font-size:20px;
    text-transform: uppercase;
    display:block;
    border: 2px solid #fff;
    width: 180px;
    height:50px;
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.wrapper label span:before {
    content: "Turn off";
}
.wrapper label span:hover { 
background: yellow;
color:#111;
}

 .wrapper img#bulb-on {
    opacity:0;
    animation:glow 3s linear infinite;
}


@keyframes glow {
    0% {
        opacity:1;
    }
    5%{
        opacity:1;
    }
    70% {
        opacity:1;
    }
    80%{
       opacity:0; 
    }
    100% {
        opacity:1;
    }
}



 #btn:checked ~ img#bulb-on {
        animation:none;
    }
#btn:checked ~ label span:before {
    content: "Turn on";
}
.wrapper input {
    display:none;
}
